body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}


.image-container {
  background-image: url("bg.jpg"); /* The image used - important! */
  background-size: cover;
  position: relative; /* Needed to position the cutout text in the middle of the image */
  height: 100vh; /* Some height */
  width: 100vw;
}

.text {
  background-color: white;
  color: black;
  font-size: 1.5rem; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 50%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 40%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */

}

.title {
  background-color: whitesmoke;
  color: black;
  font-size: 1.5rem; /* Responsive font size */
  font-weight: bold;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 10%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */
}

.btns {
	display: flex;
	justify-content: center;
	top: 15%;
	position: relative;
	width: 60%;
	left: 20%;
}

@media (orientation: landscape) {
  .btns {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  .btns {
    flex-direction: column;
  }
}
.btn-lg {
  font-size: 2rem;
  line-height: 1.5;
  border-radius: 0.8rem;
  margin: 1%;
}